*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
    background: #000;
    color: #fff;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15vh;
}

.header .cyfuse-with-logo{
    display: flex;
    align-items: center;
    margin-left: 4vw;
    font-size: 1em;
    letter-spacing:2.5px;
}
.header .cyfuse-with-logo img{
    width: 1.5em;
    margin-left: 1vw;
    margin-right: 0.5em;
}
.navbar{
    margin-right: 7vw;
}

.hamburger{
    display: none;
}
.header .navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.header .navbar ul li a{
    text-decoration: none;
    color: #fff;
    margin-left: 1vw;
    margin-right: 1.5vw;
}

.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85vh;
}

.hero-section h1{
    font-size: 5em;
    text-align: center;
    margin-left: 2vw;
    margin-right: 2vw;
}
.hero-section h2{
    margin-left: 2vw;
    margin-right: 2vw;
}
.hero-section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: fit-content;
    height: 100%;
    text-align: center;
}
.bg-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.bg-video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.socialmedialinks{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: auto;
    margin-left: 2.5vw;
    position: fixed;
    top: 70vh;
    left: 2vw;
}

.f-l{
    font-size: 1.5em;
    margin-bottom: 0.4em;
}


.about-homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: #fff;
    position: relative;
}
.about-homepage .left-side-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: fit-content;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.2); */
}
.about-homepage .left-side-content h1{
    font-size: 3em;
    margin-left: 2vw;
    margin-right: 2vw;
}
.about-homepage .left-side-content .learn-more-btn{
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: all 1s;
}
.about-homepage .left-side-content .learn-more-btn:hover{
    background: #fff;
    color: #000;
}
.about-homepage .right-side-content{
    display: flex;
    width: 30vw;
    height: 25vw;
    min-width: 280px;
    min-height: 280px;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
    padding: 3vw;
    font-size: max(1vw,0.74em);
}
.about-bg-img{
    position: absolute;
    width: 40vw;
    right: 0vw;
    top: -2vh;
    z-index: -1;
    min-width: 450px;
}
.glassify{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
    /* background-color: rgba(255, 255, 255, 0.2); */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 20px;
}

.projects-homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: #fff;
    position: relative;
}

.projects-homepage .left-side-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: fit-content;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.2); */
}
.projects-homepage .left-side-content h1{
    font-size: 3em;
    margin-left: 2vw;
    margin-right: 2vw;
}
.projects-homepage .left-side-content .learn-more-btn{
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 20px;
    cursor: pointer;
    transition: all 1s;
}
.projects-homepage .left-side-content .learn-more-btn:hover{
    background: #fff;
    color: #000;
}

.projects-homepage .right-side-content img{
    display: flex;
    width: 30vw;
    height: 25vw;
    min-width: 280px;
    min-height: 280px;
    justify-content: center;
    align-items: center;
    /* margin-left: 5vw; */
    padding: 3vw;
    /* font-size: max(1vw,0.74em); */
}
@media (max-width: 768px) {
    .hamburger {
        display: flex;
        cursor: pointer;
        margin-right: 4vw;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .hamburger .bar ,.navbar{
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 5px 0;
        transition: 0.4s;
    }


    .navbar {
        display: none;
        flex-direction: column;
        width: 20vw;
        text-align: center;
    }
    .navbar ul {
        /* margin-top: 5vw; */
        flex-direction: column;
        width: 20vw;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(10px);
        position: relative;
        /* transition: 0.4s; */

    }

    .navbar.active {
        display: flex;
    }

    .hamburger.active .bar1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .hamburger.active .bar2 {
        opacity: 0;
    }

    .hamburger.active .bar3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    .hero-section h1{
        font-size: 3em;
    }
    .hero-section h2{
        font-size: 1em;
    }
    .about-homepage .left-side-content{
        height: auto;
    }
    .about-homepage{
        flex-direction: column;
    }
    .about-homepage .right-side-content{
        font-size: max(2vw,0.74em);
        width: 50vw;
        height: 50vw;
        min-width: 280px;
        min-height: 280px;
    }
    .about-homepage .left-side-content .learn-more-btn{
        padding: 10px;
        margin-bottom: 4vw;
    }
    .about-homepage .left-side-content{
        align-items: center;
    }
    .about-bg-img{
        top: 24vh;
    }
    .projects-homepage .left-side-content{
        height: auto;
    }
    .projects-homepage{
        flex-direction: column;
    }
    .projects-homepage .left-side-content .learn-more-btn{
        padding: 10px;
        margin-bottom: 4vw;
    }
    .projects-homepage .left-side-content{
        align-items: center;
    }
    .projects-homepage .right-side-content{
        /* font-size: max(2vw,0.74em); */
        width: 50vw;
        height: 50vw;
        min-width: 280px;
        min-height: 280px;
    }
}